<label for="nameSearch">Search a color by the name of a fruit</label>
<form action="http://localhost:3000/search/name/result">
    <input type="text" name="name" id="nameSearch">
    <input type="submit">
</form>
<label for="colorSearch">Search a name by the color of a fruit</label>
<form action="http://localhost:3000/search/color/result">
    <input type="text" name="color" id="colorSearch">
    <input type="submit">
</form>
<label for="colorSearchEJS">EJS search by color</label>
<form action="http://localhost:3000/search/color/resultEJS">
    <input type="text" name="color" id="colorSearchEJS">
    <input type="submit">
</form>
<p><a href="http://localhost:3000/all">See all the words we have !</a></p>