
 <label for="search">Arabic > English</label>
    <form action="http://localhost:3000/search/result">
        <input type="text" name="searchedWord" id="search" autofocus>
        <input type="submit" value="Yalla !">
    </form>