<!-- <label for="nameSearch">Search a color by the name of a fruit</label>
<form action="http://localhost:3000/search/name/result">
    <input type="text" name="name" id="nameSearch">
    <input type="submit">
</form>
<label for="colorSearch">Search a name by the color of a fruit</label>
<form action="http://localhost:3000/search/color/result">
    <input type="text" name="color" id="colorSearch">
    <input type="submit">
</form> -->
<label for="search">Arabic > English</label>
<form action="http://localhost:3000/search/result">
    <input type="text" name="searchedWord" id="search" autofocus>
    <input type="submit" value="Yalla !">
</form>
<p><a href="http://localhost:3000/all">See all the words we have !</a></p>

<% if (words) { %>
    <select name="wordsDropdown" id="wordsDropdown">
    <% words.forEach(function(word){ %>
        <option value="<%= word %>"><%= word %></option>
    <% }) %>
    </select>
<% } %>